<h1 class="d-flex justify-content-center">Hello, <%= @user.short_name %></h1>
<% if @habits.empty? %>
    <p><strong>None!</strong> <%= link_to "Create a new checkin", new_user_checkin_path(@user) %> to start tracking your habit progress! </p> 
<% else %>
  <div class="habits-and-goals d-flex justify-content-around">
    <div class="habit-info">
      <h4>The habits you are currently building are:</h4>
      <ul class="list-group w-100">
        <li class="list-group-item bg-dark text-white d-flex justify-content-between align-items-center">
          <p class="mt-3">Habit</p>
          <span class="badge badge-primary badge-pill">Checkins</span>
        </li>
        <%= render partial: "habits/habit_with_badge", collection: @habits, as: :habit_with_badge, locals: {user: @user} %>
      </ul>
    </div>
    <div class="goal-info">
      <h4>Your current goals are</h4>
      <div class="goal-cards">
        <%= render partial: "goals/goal", collection: @goals %>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="checkin-info">
      <h4>These are your last few checkins</h4>
      <%= render partial: "checkins/checkin", collection: @checkins %>
      <br>
      <%= link_to "View all checkins", user_checkins_path(@user), class: "btn btn-primary btn mb-5" %>
    </div>
<% end %>
