<nav class="navbar navbar-dark bg-dark">
  <div class="nav-item me-auto">
    <a class="navbar-brand" href="/">Habit Builder</a>
  </div>
  <% if user_signed_in? %>
    <div class="nav-item">
      <%= link_to "Profile", current_user, class: "nav-link" %>
    </div>
    <div class="nav-item">
      <%= link_to "New Checkin", new_user_checkin_path(current_user.id), class: "nav-link" %>
    </div>
    <div class="nav-item">
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </div>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
    <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
  <% end %>
</nav>