<nav class="navbar navbar-dark bg-dark">
  <div class="nav-item me-auto">
    <a class="navbar-brand" href="/">Habit Builder</a>
  </div>
  <% if user_signed_in? %>
    <div class="nav-item">
      <%= link_to "Profile", current_user, class: "nav-link text-white" %>
    </div>
    <div class="nav-item">
      <%= link_to "New Checkin", new_user_checkin_path(current_user.id), class: "nav-link text-white" %>
    </div>
    <div class="nav-item">
      <%= link_to "Set a Goal", new_user_goal_path(current_user.id), class: "nav-link text-white" %>
    </div>
    <div class="nav-item">
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link text-white", data: { confirm: "Are you sure you want to log out?" } %>
    </div>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "nav-link text-white" %>
    <%= link_to "Sign up", new_user_registration_path, class: "nav-link text-white" %>
  <% end %>
</nav>
