<%= render partial: "devise/shared/error_messages", locals: {resource: checkin} %>

<%= form_for [user, checkin] do |form| %>

  <%= form.hidden_field :user_id, value: user.id %>

  <div class="form-group">
    <%= form.label :habit_ids, "Select the habits you completed" %>:<br>
    <%= form.collection_check_boxes :habit_ids, habits, :id, :name do |b| %>
      <div class="form-check form-check-inline">
        <%= b.check_box(class: "form-check-input") %>
        <%= b.label(class: "form-check-label") %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label "Create a new habit" %>:<br>
    <%= form.fields_for :habits, habit do |habit_form| %>
      <%= habit_form.label :name, "New habit name" %>
      <%= habit_form.text_field :name %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :date, "Select date for this checkin (default today)" %>
    <%= form.date_field :date, max: Date.today %>
  </div>

  <div class="form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <%= form.submit "Submit checkin" %>
<% end %>
